body {
  background: #fff;
  margin: 0;
  padding: 0;
}

#header {
  color:#994C00;
  background: linear-gradient(30deg, #bf3d8b, #7d3894);

}
#header a {
  color: #fff;
  padding-left: 30px;
  text-decoration: none;
  font-size: 40px;
}
#header p {
  float: right;
  padding-right: 10px;
  color: #bd4b73;
}
#sidebar {
  background: #596067;
  padding: 5px;
}
#sidebar a {
  color: #fff;
  text-decoration: none;
  padding-left: 20px;

}
#content {
  padding: 5px;
}

.product {
  margin: 10px;
  padding: 0px;
  width: 100%;
  outline: #848484 solid 0px;
  background-color: #fff;
  float: left;
}
/* .product p {
  width: 300px;
} */
.product img {
  height: 400px;
  width: 25%;
  margin: 10px;
  margin-bottom: 8px;
  float: left;
}
.product .image {
  float: left;
}
.product .info {
  float: right;
  width: 74%;

}
